{% extends 'base/base_front.html' %}
{% block content %}
<div class="post noborder">
	<h2 class='pagetitle'>Hubungi Saya</h2>
	<article class="post-content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tortor a urna sagittis aliquam. Aliquam velit lectus, tincidunt eget mauris eget, egestas mattis sem. <br><br>
	</article>
</div>

<div class="error-wrapper">
	{% if error.message %}
	<div class="errmsg alert btn-squared alert-danger">
		{{ error.message }}
		
		<button class="close" data-dismiss="alert" aria-hidden="true">
			&times;
		</button>
	</div>
	{% endif %}
</div>

<div class="outerform">
	<form method="POST" role="form" class="kontakform" action="">
		<div class="form-group">
			<input type="text" class="form-control input-lg" name="nama" required="required" placeholder='Nama Lengkap'>
		</div>

		<div class="form-group">
			<input type="email" class="form-control input-lg" required="required" name="email" placeholder='Email'>
		</div>

		<div class='form-group'>
			<textarea name="pesan" class="form-control input-lg" required="required" placeholder="Isi"></textarea>
		</div>

		<input type="submit" value="Kirim" class='btn btn-squared btn-default btn-lg'>
		<input type="reset" value="Bersihkan" class='btn btn-squared btn-danger btn-lg'>
	</form>
</div>
{% endblock %}