{% extends 'base/base_front.html' %}
{% block content %}
<div class="post noborder">
	<h2 class='pagetitle'>Tentang Winter Blog</h2>
	<article class="post-content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tortor a urna sagittis aliquam. Aliquam velit lectus, tincidunt eget mauris eget, egestas mattis sem. Maecenas eget ante pulvinar, faucibus ante in, suscipit lorem. Integer condimentum quam urna, sit amet viverra felis dapibus vel. Vestibulum a nulla porta nisi viverra aliquam. Proin lorem nisl, pretium vitae metus eget, auctor varius est. Nullam molestie facilisis lacus, varius posuere dolor pulvinar a.<br><br>

Suspendisse potenti. Donec porta a erat ut consectetur. Nulla luctus lectus non tellus convallis, ac varius ligula facilisis. Donec condimentum pharetra lectus et suscipit. Duis convallis justo eu rutrum hendrerit. Nulla tempus erat vel imperdiet fermentum. Sed quis arcu quis nunc interdum accumsan. Maecenas rhoncus tempor lacus vitae auctor. Donec sit amet lorem erat. Pellentesque hendrerit varius mauris, ut sollicitudin massa egestas nec. Ut sit amet metus leo. Maecenas eleifend malesuada felis. Donec iaculis posuere blandit.<br><br>
	</article>
</div>

<div class="post">
	<h2 class='pagetitle'>Tentang Penulis</h2>
	<article class="post-content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tortor a urna sagittis aliquam. Aliquam velit lectus, tincidunt eget mauris eget, egestas mattis sem. Maecenas eget ante pulvinar, faucibus ante in, suscipit lorem. Integer condimentum quam urna, sit amet viverra felis dapibus vel. Vestibulum a nulla porta nisi viverra aliquam. Proin lorem nisl, pretium vitae metus eget, auctor varius est. Nullam molestie facilisis lacus, varius posuere dolor pulvinar a.<br><br>

Suspendisse potenti. Donec porta a erat ut consectetur. Nulla luctus lectus non tellus convallis, ac varius ligula facilisis. Donec condimentum pharetra lectus et suscipit. Duis convallis justo eu rutrum hendrerit. Nulla tempus erat vel imperdiet fermentum. Sed quis arcu quis nunc interdum accumsan. Maecenas rhoncus tempor lacus vitae auctor. Donec sit amet lorem erat. Pellentesque hendrerit varius mauris, ut sollicitudin massa egestas nec. Ut sit amet metus leo. Maecenas eleifend malesuada felis. Donec iaculis posuere blandit.<br><br>
	</article>
</div>
{% endblock %}